name: CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        
      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '18'

      - name: Install Dependencies
        run: npm install
        
      - name: Build
        run: |
          echo "Building the application..."

  security-test:
    runs-on: ubuntu-latest
    needs: build
  
    steps:
      - name: Security Test (ESLint)
        run: |
          npx eslint web/
  

  deploy:
    runs-on: ubuntu-latest
    needs: security-test

    steps:
      - name: Deploy
        run: |
          echo "Deploying the application..."
          
  alert:
    runs-on: ubuntu-latest
    needs: deploy

    steps:
      - name: Send Telegram Notification
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
        run: |
          MESSAGE="Build status: ${{ job.status }}
          Repository: ${{ github.repository }}
          Branch: ${{ github.ref }}
          Commit Message: ${{ github.event.head_commit.message }}"
          curl -s -X POST "https://api.telegram.org/bot${TELEGRAM_TOKEN}/sendMessage" -d chat_id=${TELEGRAM_CHAT_ID} -d text="${MESSAGE}"
